<div class="Error E404">
    <h3>404 Not Found</h3>

    <p>The file &quot;${404Path}&quot; could not be found on this server.</p>
    <img id='chart404' src="${errorPagePath}images/404chart.png" alt="404 Error">
</div>