<div class="footer-box">
    <h4>Links</h4>
    <ul>
        <li><a href="/home">Home</a></li>

    </ul>
</div>

<div class="footer-box">

</div>

<div class="footer-box">

</div>

<div class="footer-box end-footer-box">

</div>